/* All your custom styles go here. You can override the default Bootstrap styles or add your own custom styles for elements, classes, or IDs.  */

.container-fluid {
    padding: 0;
    margin: 0;
    background: #f1f6f9;
    font-family: 'Antic', sans-serif;
  }

  .page-header {
      font-family: 'Antic', sans-serif;
      font-size: 3rem;
      padding: 25px;
      padding-left: 20px;
  }

  .fas {
    margin-right: 15px;
  }

  /*--- navigation bar ---*/

  .navbar {
    background-color: #394867;
    font-size: large;
  }


  .navbar-nav {
    padding: 5px;
    margin: 5px;
    color: #9ba4b4;
    /*--- how to make the nav bar move to the right side? ---*/
  }

  .nav-item {
    background-color: cornsilk;
    border: 2px solid cornsilk;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: black;
  }

  /* Hamburger menu color*/
  .navbar-toggler {
    background: cornsilk !important;
  }

  
  /* Now it's time to style cards*/
  .card-deck {
    padding-right: 10px;
    padding-top: 15px;
    margin: auto;
  }

  .card {
    background: cornsilk;
    height: 400px;
    width: 300px;
  }

  .card img {
    height: 200px;
    width: 300px;
  }

  .card-text {
    align-items: center;
  }

  .card-1 :hover {
    opacity: 0.7;
    /*box-shadow: 10px 10px gray;*/
    transition: 800ms;
  }

  .card-2 :hover {
    opacity: 0.7;
    /*box-shadow: 10px 10px gray;*/
    transition: 800ms;
  }

  .card-3 :hover {
    opacity: 0.7;
    /*box-shadow: 10px 10px gray;*/
    transition: 800ms;
  }

  .source-1 {
    color: black;
  }

  .source-2 {
    color: black;
  }

  .source-3 {
    color: black;
  }
  /*BUTTONS in the cards*/

  .btn {
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Antic', sans-serif;
    font-size: 15pt;
    width: 200px;
    height: 45px;
    position: relative;
    border: solid #777 2px;
    color: #777;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    background: transparent;
  }
  
  .btn:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #004e66;
    transition: 0.5s ease-in-out;
    z-index: -1;
  }
  
  .btn:hover:before {
    width: 100%;
  }
  
  .btn:hover {
    color: #f1f1f1;
    border-color: #004e66;
  }
  
  .btn:active:before {
    background-color: #00a7fc;
  }
  
  .btn:active {
    border-color: #00a7fc;
    background-color: #00a7fc;
    color: #333;
  }
  
  .btn:focus {
    outline: none
  }
  

  /* the following is footer */
  .card-header {
    padding: 10px;
    margin: 20px;
  }

  .col-sm-12 {
    background: #f1f6f9;
    height: 80px;
    margin-top: 10px;
    border: none;
    width: 100%;
  }
  
  .card-text {
    font-size: 24px;
  }
  